html,
body {
  background-image: url(../assets/pattern/more-leaves.png);
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: #ddd;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #eee;
  box-shadow: 1px 8px 10px 3px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 1px 8px 10px 3px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 1px 8px 10px 3px rgba(0, 0, 0, 0.43);
}

.container-fluid {
  width: 100%;
}

.ctr {
  width: 100%;
  height: 100px;
  background-color: #bcb88a;
}

.ctr img {
  margin-top: -50px;
}

.ctr h5 {
  display: inline-block;
}

hr {
  color: brown;
  height: 5px;
  width: 100%;
}

/* .nyiroro {
  
} */