html,
body {
  background-image: url(../assets/pattern/more-leaves.png);
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}



* {
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
  background-color: black;
}

.container {
  background-color: #eee;
  box-shadow: 1px 8px 10px 3px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 1px 8px 10px 3px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 1px 8px 10px 3px rgba(0, 0, 0, 0.43);
}

.container-fluid {
  width: 100%;
}

.ctr {
  width: 100%;
  height: 100px;
  background-color: #bacd92;
}

.ctr img {
  margin-top: -50px;
}

.ctr h5 {
  display: inline-block;
}

hr {
  color: brown;
  height: 5px;
  width: 100%;
}

.carousel-inner img {
  height: 75.2vh;
}

footer h6 {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

#sosmed li {
  list-style: none;
}

.tm-nav {
  background-color: seagreen;
  
}

.tm-list{
  color: white;
  padding: 5px 10px;
  background-color: #EEEEEE;
  border: 1px solid #DDDDDD;
  
}


.tm-main{
  text-align: center;
  text-size-adjust: 100px;
  background-color: seagreen ;
}

.room{
  color: black;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: bold;
}

.tm-room1{
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #888888;
  background-image: linear-gradient(to bottom, #f2f2f2, #e6e6e6);
}

.tm-footer{
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.tm-us{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.tm-but{
  background-color: seagreen;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;

}

.tm-but:hover {
  background-color: #4CAF50;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color:seagreen; 
  text-decoration:none; 
  cursor:pointer;  
}